# URL Configuration for Good Price Tile Landing Page
VITE_BLOG_URL=https://blog.naver.com/bellaceramic1
VITE_INSTAGRAM_URL=https://instagram.com/_bellaceramic
VITE_NAVER_MAP_URL=https://naver.me/F0znYoRG
VITE_RESERVATION_URL=https://naver.me/F0znYoRG
